.icon {
    --_icon-size: var(--icon-size, 2.4rem);

    inline-size: var(--_icon-size);
    max-inline-size: var(--_icon-size);
    aspect-ratio: 1;
    display: block;
    fill: currentColor;
    stroke: currentColor;
}
